<h1 class="card">LOGIN PAGE</h1>


<div class="card col-md-3" style="background-position: center;size: 60px;">

    <label for="email">Email</label><br>
    <input type="text" placeholder="Enter Email" id="email" required><br>
    <label for="password">Password</label><br>
    <input type="password" placeholder="password" id="psw" required><br>
    <label for="Password Repeat">Repeat Password</label><br>
    <input type="password" placeholder="Repeat Password" id="psw-repeat"required><br><br><br>
</div>
<button style="text-align: center;">
  <a routerLink = '/signup' routerLinkActive ='active'>LOGIN</a>  
</button>





    
    