
<div class="card" style="background-color: black;">
<h1 style="text-align: center;">SIGN UP HERE TO JOIN OUR CAMP</h1>
</div>
    <div class="container">
         <label for="name">First name</label><br>
         <input type="text" placeholder="Enter name" id="name" required><br>
         <label for="name"> Last name</label><br>
         <input type="name" placeholder="name" id="name" required><br>
         <label for="email"> Email</label><br>
         <input type="email" placeholder="email" id="email" required><br>
         <label for="Password">Password</label><br>
         <input type="password" placeholder=" Password" id="psw"required>
    </div><br><br>
<button style="color: black;">SUBMIT</button>